.aboutMe {
    color: wheat;
    font-size:medium;
    font-weight: bold;
}
p {
    color:black;
}
body{
    background-color:navy;
    margin: 0;
    height: 100%;
}
.card-title{
    font-weight:bold;
}
.card5{
    margin-top:2rem;
    width: 250px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    min-height: 200px;
    margin-left:2rem;
}

.submit {
    background-color:teal;
}
#Bar {
    color:darkblue;

}
