.aboutMe {
    color:wheat;
    font-size:medium;
    font-weight: bold;
}
p {
    color:teal;
}
body{
    background-color:navy;
}
.card{
  margin-top:2rem;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  min-height: 200px;
 

}
.card1{
    margin-top: 2rem;
    width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  min-height: 200px;
}
.card2{
    margin-top: 2rem;
    width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  min-height: 200px;
}
.submit {
    background-color:teal;
}
#Bar {
    color:darkblue;

}
