.aboutMe {
    color:black;
    font-size:medium;
    font-weight: bold;
}
p {
    color:black;
}
body{
    background-color:whitesmoke
}

.submit {
    background-color:teal;
}
#Bar {
    color:darkblue;

}

/*     
@media only screen and (max-width:540px) {
    body {
        background-color:whitesmoke;
    }
} */